<h1>New user</h1>


<div style="width: 400px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding:20px; margin:0 auto">
  <%= render "form", user: @user %>

  <br>
</div>

<div>
  <%= link_to "Back to users", users_path %>
</div>
 